@import "normalize.css";

/* Media query variables
-------------------------------------------------- */
@custom-media --large-viewport (min-width: 48rem);
@custom-media --medium-viewport (min-width: 35rem);
@custom-media --small-viewport (max-width: 35rem);

body:before {
    content: "small-viewport";
    display: none;

    @media (--medium-viewport) {
        content: "medium-viewport";
    }
    @media (--large-viewport) {
        content: "large-viewport";
    }
}


/* Reset
-------------------------------------------------- */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/* Pix
-------------------------------------------------- */
img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Links
-------------------------------------------------- */
a {
    color: #000;
    text-decoration: none;
    transition: color .3s, background .3s, border .3s;
}

a:hover,
a:focus {
    color: red;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
    content: "";
    display: table;
    clear: both;
}


/* Visually hidden
-------------------------------------------------- */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
}


/* Site
-------------------------------------------------- */
:root {
    font-size: 62.5%;

    @media screen and (--small-viewport) {
        font-size: 70%;
    }
}

html {
    height: 101%;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 1.25em;
    line-height: 1.5em;
    background: #fff;
    color: #222;
}

.group {
    box-sizing: border-box;
    padding: 0 1.5rem;

    @media screen and (--large-viewport) {
        padding: 0 3rem;
    }
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

.group-inner {
    max-width: 100rem;
    margin: 0 auto;
}

@import "typography.css";


/* Header
-------------------------------------------------- */
.header {
    margin-bottom: 1em;
    padding: 3em 0 1em;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2rem;
    }

    @media screen and (--medium-viewport) {
        margin-bottom: 2.5em;
        text-align: inherit;

        .group-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


/* View toggler
-------------------------------------------------- */
.view-toggler {
    display: none;

    a {
        display: none;

        &.is-selected {
            display: block;
        }
    }

    @media screen and (--medium-viewport) {
        display: block;
    }
}


/* Projects
-------------------------------------------------- */
.projects {

    .project {
        margin: 0 0 6em;

        ul {
            list-style: none;

            @media screen and (--medium-viewport) {
                display: flex;
                flex-wrap: wrap;
                margin: -0.4em;
            }

            @media screen and (--large-viewport) {
                margin: -0.3em;
            }
        }

        li {
            width: 100%;
            padding-bottom: 0.5em;
            box-sizing: border-box;

            @media screen and (--medium-viewport) {
                width: 50%;
                padding: 0.4em;
            }

            @media screen and (--large-viewport) {
                width: 33.333%;
                padding: 0.3em;
            }
        }

        .description {
            text-align: center;
            margin: 0 auto;
            max-width: 60rem;
        }
    }
}



/* Main
-------------------------------------------------- */
.main {
    padding-bottom: 1.5em;
}

.main p,
.main figure,
.main ul,
.main ol {
    margin-bottom: 1.5em;
}



/* Project meta
-------------------------------------------------- */
.meta {
    margin-bottom: 1.5em;
}

.meta li {
    float: left;
    list-style: none;
    margin-right: 2em;
    color: red;
}

.meta li b {
    font-weight: 400;
    color: #000;
    padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
    list-style: none;
}

.teaser li {
    margin-bottom: 1.5em;
    list-style: none;
}

@media screen and (min-width: 50em) {
    .teaser li {
        float: left;
        width: 30%;
        margin-left: 5%;
    }

    .teaser li:first-child {
        margin-left: 0;
    }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
    padding: 1em 0;
}

.nextprev a {
    border: 0;
}

.nextprev .prev {
    float: left;
}

.nextprev .next {
    float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
    padding: 1em 0 2em;
    font-size: .8em;
}


@import "stacks.css";
