@import "normalize.css";

/* Media query variables
-------------------------------------------------- */
@custom-media --large-viewport (min-width: 768px);
@custom-media --medium-viewport (min-width: 560px);
@custom-media --small-viewport (max-width: 560px);

body::before {
    content: "small-viewport";
    display: none;

    @media (--medium-viewport) {
        content: "medium-viewport";
    }
    @media (--large-viewport) {
        content: "large-viewport";
    }
}


/* Reset
-------------------------------------------------- */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* Pix
-------------------------------------------------- */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Links
-------------------------------------------------- */
a {
    text-decoration: none;
    transition: color .3s, background .3s, border .3s;
}

a:visited {color: inherit;}

a:hover,
a:focus {
    color: #000;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
    content: "";
    display: table;
    clear: both;
}


/* Utils
-------------------------------------------------- */
.svg-container {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
}

[aria-hidden="true"] {
    display: none;
}


/* Site
-------------------------------------------------- */
:root {
    font-size: 62.5%;

    @media screen and (--small-viewport) {
        font-size: 70%;
    }
}

html {
    height: 101%;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    &.fonts-loaded,
    &.no-js {
        font-family: "GT Cinetype";
    }
}

body {
    font-size: 1.5em;
    line-height: 1.5em;
    background: #fff;
    color: #000;
    overflow-x: hidden;
}

.group {
    box-sizing: border-box;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.group-inner {
    max-width: 100rem;
    margin: 0 auto;

    .view-list & {
        max-width: 160rem;
    }
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 1px solid white;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}

::selection {
    color: #fff;
    background-color: #000;
}


@import "fonts.css";
@import "typography.css";


/* Main navigation
-------------------------------------------------- */
.nav-main {
    button {
        position: relative;
        fill: rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255, 0.8);
        border: 0;
        margin: 0 1.03em;
        padding: .53em 0.2em .6em;
        outline: 0;
        height: 45px;
        width: 122px;
        touch-action: manipulation;

        .chard-left svg,
        .chard-right svg {
            position: absolute;
            top: 0;
            width: auto;
            height: 100%;
        }

        .chard-left svg {
            left: 0;
            transform: translateX(-100%);
        }

        .chard-right svg {
            right: 0;
            transform: translateX(100%);
        }
    }

    .js & {
        button:hover,
        button:focus {
            color: #fff;
            background: #ff0000;
            fill: #ff0000;
        }
    }
}


/* Info toggler
-------------------------------------------------- */
.info-toggler {
    text-align: center;
    position: absolute;
    top: 1em;
    z-index: 10;
    left: 0;
    right: 0;

    .overlay-open.about & {
        z-index: 12;
    }

    @media screen and (--medium-viewport) {
        position: fixed;
        left: 1em;
        right: initial;
        text-align: left;
    }

    button {
        font-size: 1.7rem;
        margin: 0 0.77em;
        cursor: help;

        @media screen and (--medium-viewport) and (min-height: 400px) {
            font-size: 2rem;
        }
    }
}

.overlay-open .info-toggler {
    position: fixed;

    button {
        cursor: nw-resize;
    }
}

.overlay-open.about {
    @media screen and (--small-viewport) {
        overflow: hidden;
    }
}


/* View toggler
-------------------------------------------------- */
.view-toggler {
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9;

    @media screen and (--medium-viewport) {
        .js & {
            display: block;
        }
    }

    button {
        font-size: inherit;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.07em;
        width: 104px;
    }
}



/* Projects
-------------------------------------------------- */
@import "projects.css";



/* Main
-------------------------------------------------- */
.main {
    padding-bottom: 1em;

    @media screen and (--medium-viewport) {
        padding-bottom: 3em;
    }
}

.main p,
.main figure,
.main ul,
.main ol {
    margin-bottom: 1.5em;
}


/* About section
-------------------------------------------------- */
section.about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.98);
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .overlay-open & {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s cubic-bezier(.2,0,.2,1), visibility 0s cubic-bezier(.2,0,.2,1);
    }

    .content {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
        padding: 1.4em;
        max-width: 74rem;

        @media screen and (--medium-viewport) {
            display: flex;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        @media screen and (--large-viewport) {
            padding: 0;
        }

        .progressive-media {
            display: block;
            width: 100%;
            margin-bottom: 1.5em;
            flex: 1 1 auto;
            align-self: auto;

            @media screen and (--medium-viewport) {
                margin-right: 4rem;
                margin-bottom: 0;
            }

            @media screen and (--medium-viewport) and (min-height: 400px) {
                width: 110rem;
            }
        }

        .info {
            flex: 1 1 auto;
            align-self: auto;

            p {
                max-width: none;
                font-size: 1.45rem;

                @media screen and (--medium-viewport) and (min-height: 400px) {
                    font-size: 1.75rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media screen and (--large-viewport) {
                    font-size: 1.85rem;
                }
            }
        }
    }
}


/* Footer
-------------------------------------------------- */
.footer {
    padding-bottom: 2em;

    .copyright {
        text-align: center;
    }

    small {
        font-size: 1.25rem;
    }
}
