/* General project styling */
.projects {
    overflow-x: hidden;
}

.project {
    padding-bottom: 3em;

    &:first-child {
        padding-top: 4.5em;
    }

    @media screen and (--medium-viewport) {
        padding-bottom: 6em;

        &:first-child {
            padding-top: 6em;
        }
    }

    ul {
        list-style: none;
    }

    html:not(.view-list) & {
        ul {
            @media screen and (--medium-viewport) {
                margin: -0.4em;
            }

            @media screen and (--large-viewport) {
                margin: -0.3em;
            }
        }

        li {
            position: relative;
            transition: 0.08s transform ease;

            &:nth-child(5) {
                z-index: 5;
            }

            @media screen and (--medium-viewport) {
                float: left;
            }
        }

        ul.collapsed {
            li:nth-child(5) {
                transform: scale(1.08);
            }
        }
    }

    html:not(.view-list) .overlay-open & {
        li:nth-child(5) {
            z-index: 10;
        }
    }

    li {
        width: 100%;
        padding: 0 0.2em 0.2em;
        box-sizing: border-box;

        @media screen and (--medium-viewport) {
            width: 33.333%;
            padding: 0.25em;
        }

        @media screen and (--large-viewport) {
            padding: 0.3em;
        }
    }

    .description {
        margin: 0 auto;
        padding: 0 0.2em 0.2em;
        max-width: 26em;

        @media screen and (--medium-viewport) {
            padding: 0 0.5em;
            min-width: 23em;
        }

        .view-list & {
            width: 90%;

            @media screen and (--medium-viewport) {
                width: 55%;
            }

            @media screen and (--large-viewport) {
                width: 32%;
            }
        }
    }

    /* Flickity specific styling */
    .flickity-enabled {
        position: relative;
        padding-bottom: 59.2%; /* Sets height of flickity container */

        @media screen and (--medium-viewport) {
            padding-bottom: 36.4%; /* Sets height of flickity container */
        }

        @media screen and (--large-viewport) {
            padding-bottom: 21.25%; /* Sets height of flickity container */
        }

        &:focus {
            outline: none;
        }

        li {
            width: 90%;

            @media screen and (--medium-viewport) {
                width: 55%;
            }

            @media screen and (--large-viewport) {
                width: 32%;
            }
        }
    }

    .flickity-viewport {
        position: relative;
        height: 100%;
    }

    .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;

        &.is-dragging a {
            pointer-events: none;
        }
    }

    .is-pointer-down a {
        cursor: grabbing;
    }
}

/* Zoom-in */
[data-zoomable] {
    display: block;

    @media (--small-viewport) {
        &:not([data-type="video"]) {
            pointer-events: none;
        }
    }

    @media (--medium-viewport) {
        cursor: zoom-in;
    }

	&.is-active {
        display: block;
		position: relative;
		z-index: 100;
        transition: transform 0.16s;

        &::before {
			content: "";
			position: fixed;
			top: -100vh;
			left: -100vw;
			width: 100%;
			height: 100%;
			padding: 100vh 100vw;
			background-color: rgba(255, 255, 255, 0.95);
			z-index: -1;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 0.14s, opacity 0.14s 0s;
			transform: translateZ(0);
		}
	}

	&.is-zoomed,
	&.is-zooming {
		cursor: zoom-out;

        &::before {
			visibility: visible;
			opacity: 1;
			transition: visibility 0s linear 0s, opacity 0.4s 0s;
		}
	}
}


/* Zoomed in navigation
-------------------------------------------------- */
.media-nav {
    @media (--small-viewport) {
        display: none;
    }

    button {
        margin: 0;
        padding: 0;
        background: none;
        border: 0;

        .svg-container {
            padding-bottom: 213.220%;
        }
    }

    .left,
    .right {
        position: fixed;
        top: 50%;
        z-index: 102;
        transform: translateY(-50%);
        width: 3em;
        padding: 0.5em;
    }

    .left {
        left: 1em;
    }

    .right {
        right: 1em;
    }
}


/* Progressive media
-------------------------------------------------- */
.progressive-media {
    position: relative;
    background: #dedede;

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 1;
    }

    .thumb {
        display: none;
    }

    .media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        backface-visibility: hidden;
    }

    &.placeholder-loaded {
        background: none;
    }

    &.media-loaded {
        canvas {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear .5s,opacity .1s .4s;
        }

        .media {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity .4s 0s;
        }
    }
}

/* No JS fallback */
.no-js .progressive-media .media {
    visibility: visible;
    opacity: 1;
}

.zoomed-video {
	position: fixed;
    top: 0;
    left: 0;
	z-index: 101;
    width: 100%;

	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	&::before {
		content: "";
		display: block;
		padding-bottom: 66.768292682927%;
		position: relative;
		height: 0;
	}
}
