/* General project styling */
.projects {
    overflow-x: hidden;
}

.project {
    padding-bottom: 5em;

    &:first-child {
        padding-top: 3em;
    }

    @media screen and (--medium-viewport) {
        padding-bottom: 6em;

        &:first-child {
            padding-top: 8em;
        }
    }

    ul {
        list-style: none;
    }

    html:not(.view-list) & {
        ul {
            @media screen and (--medium-viewport) {
                display: flex;
                flex-wrap: wrap;
                margin: -0.4em;
            }

            @media screen and (--large-viewport) {
                margin: -0.3em;
            }
        }

        li {
            transition: 0.08s transform ease;
        }
    }

    li {
        width: 100%;
        padding-bottom: 0.5em;
        box-sizing: border-box;

        @media screen and (--medium-viewport) {
            width: 33.333%;
            padding: 0.4em;
        }

        @media screen and (--large-viewport) {
            padding: 0.3em;
        }
    }

    .description {
        margin: 0 auto;
        max-width: 32em;
    }
}

/* Flickty specific styling */
.project {
    .flickity-enabled:focus {
        outline: none;
    }

    .flickity-viewport {
        position: relative;
        height: 100%;
    }

    .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;

        &.is-dragging a {
            pointer-events: none;
        }
    }

    .is-pointer-down a {
        cursor: grabbing;
    }
}

/*
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.85);
    transition: visibility 0s linear 0.22s, opacity 0.22s 0s;
    transform: translateZ(0);
}

.zoom-overlay-active::after {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.4s 0s;
}
*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.9);
    transition: visibility 0s linear 0.22s, opacity 0.22s 0s;
    transform: translateZ(0);
}

.overlay-open {
    position: relative;
    overflow: hidden;

    .overlay {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 0.25s 0s;
    }
}

/* Zoom-in */
[data-zoomable] {
    display: block;
	cursor: zoom-in;

	&.is-active {
        display: block;
		position: relative;
		z-index: 100;
        transition: transform 0.16s;
	}

	&.is-zoomed,
	&.is-zooming {
		cursor: zoom-out;
	}
}


/* Progressive media
-------------------------------------------------- */
.progressive-media {
    position: relative;
    overflow: hidden;
    background: #dedede;

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        visibility: visible;
        opacity: 1;
    }

    .thumb {
        visibility: hidden;
        opacity: 0;
    }

    .media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        backface-visibility: hidden;
    }

    &.media-loaded {
        background: none;

        canvas {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear .5s,opacity .1s .4s;
        }

        .media {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity .4s 0s;
        }
    }
}
