/* Headings
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 400;
  margin: 0;
  line-height: 1em;
}


@define-mixin ballarur {color: green;}

body {@mixin ballarur !important;}

@mixin h1 {
  font-size: 33px;
  @media (min-width: 600px) {font-size: 48px;}
}

h2 {
}

h3 {
}

h4 {
}

h1 {@include h1;}

h2 {@include h2;}

h3 {@include h3;}

h4 {@include h4;}


h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

